__pycache__/
.pytest_cache
*.code-*
.vscode/
*.code-workspace
todo.md
todo.diff

sausage_bot/data*/
sausage_bot/testing
sausage_bot/cogs/testing_*
sausage_bot/cogs/_*

out
sausage_bot/tempfiles/*
sausage_bot/version.json
.cache
.flake8
.DS_Store
sausage_bot/test/test_parse/*
/sausage_bot/flake8-I18N-checker/build/lib
/sausage_bot/flake8-I18N-checker/cool_module.py
/sausage_bot/flake8-I18N-checker/flake8_I18N_checker.egg-info
/sausage_bot/flake8-I18N-checker/make_flattened_yaml.py
/.claude
/graphify-out
/CLAUDE.md
