__pycache__/
.pytest_cache
*.code-*
.vscode/
*.code-workspace
todo.diff
.DS_Store

CLAUDE.md

sausage_bot/data*/
sausage_bot/testing
sausage_bot/cogs/testing_*
sausage_bot/cogs/_*

out
sausage_bot/tempfiles/*
sausage_bot/version.json
.cache
.flake8
/sausage_bot/test/test_parse/*
/sausage_bot/flake8-I18N-checker
/.claude
/graphify-out
/node_modules
/sausage_bot/docs/mermaid_charts
/sausage_bot/external_files
/pyproject.toml
