__pycache__/
.pytest_cache
*.code-*
.vscode/

sausage_bot/data/json
sausage_bot/data/db
sausage_bot/data/logs
sausage_bot/data/.env
sausage_bot/testing
sausage_bot/test/test_parse/*
sausage_bot/cogs/testing_*
sausage_bot/cogs/_*

out
sausage_bot/tempfiles/*