[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
lxml = "*"
requests = "*"
pendulum = "*"
colorama = "*"
html5lib = "*"
bs4 = "*"
astpretty = "*"
yt-dlp = ">=2024.04.09"
tabulate = "*"
environs = "*"
aiohttp = ">=3.9.4"
discord = "*"
tqdm = ">=4.66.3"
aiosqlite = "*"

[dev-packages]
requests-testadapter = "*"
pytest = "*"
pytest-mock = "*"
autopep8 = "*"
vulture = "*"
flake8 = "*"

[requires]
python_version = "3"
