[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
lxml = "*"
requests = ">=2.32.0"
pendulum = "*"
colorama = "*"
html5lib = "*"
bs4 = "*"
astpretty = "*"
yt-dlp = ">=2024.04.09"
environs = "*"
aiohttp = ">=3.9.4"
discord = "*"
tqdm = ">=4.66.3"
aiosqlite = "*"
"colorgram.py" = "*"
spotipy = "*"
aiofiles = "*"
i18nice = {extras = ["yaml"], version = "*"}
pytest-asyncio = "*"
tabulated = "*"
pip = "*"
pytest-mock = "*"
pyyaml = "*"
tabulate = "*"
colorlog = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
pytest-mock = "*"
autopep8 = "*"
vulture = "*"
flake8 = "*"
flake8-async = "*"
pyyaml = "*"
astpretty = "*"
tabulate = "*"

[requires]
python_version = "3"
