[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
python-dotenv = "*"
lxml = "*"
requests = "*"
pendulum = "*"
colorama = "*"
cogs = "*"
bs4 = "*"
ratelimit = "*"
pytest = "*"
pytest-mock = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3"
